.vscode

inventory_service/.env

notification_service/.env

order_service/.env

payment_service/.env

product_service/.env
product_service/app/__pycache__/
product_service/app/consumers/__pycache__/
product_service/app/crud/__pycache__/
product_service/app/models/__pycache__/

user_service/.env

microservice_02/

todo/

docker-compose.yaml