.vscode

inventory_service/.env
inventory_service/app/__pycache__/
inventory_service/app/consumers/__pycache__/
inventory_service/app/crud/__pycache__/
inventory_service/app/models/__pycache__/

notification_service/.env

order_service/.env

payment_service/.env

product_service/.env
product_service/app/__pycache__/
product_service/app/consumers/__pycache__/
product_service/app/crud/__pycache__/
product_service/app/models/__pycache__/

user_service/.env